.rules-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/rules.jpg');
  background-size: cover;        /* подгоняет по ширине */
  background-position: center;   /* центрирует */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.overlay-ui {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.checkbox-area {
  color: #ffd700;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.confirm-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f0d060;
  font-size: 18px;
  padding: 10px 30px;
  border: 2px solid #f0d060;
  border-radius: 8px;
  cursor: pointer;
}

.confirm-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
